@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.landing-page{
    color: white;
    font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 25px;
}