
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.register{
    margin-top: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.register-form{
    padding: 20px;
    
    text-align: center;
}
.label{
    
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    
}
input, select{
    width: 250px;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin:20px 0 20px 0;
    line-height: 20px;
    padding: 7px 10px;
}

button{
    background-color: rgb(0,123,255);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 10px 10px 10px;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.text{
    font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 15px;
}