@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login{
    margin-top: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-form{
    padding: 20px;
    
    text-align: center;
}

.text{
    font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 15px;
  
}