@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: rgb(77, 128, 182);

}
.App {
display: flex;
justify-content: center;
align-items: center;
}
.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: center;
  border-radius: 10px;
  margin-top: 6%;

}


